<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_filters %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Login</title>
    <style>
        .project-heading-name {
            margin-top: 10%;
        }

        .form-edit {
            margin-top: 10%;
            border-radius: 5%;
            -webkit-box-shadow: 0 0 10px #818181;
        }

        .extra-btn {
            text-align: center;
            text-decoration: none;
        }

        .btn-create {
            background-color: #42b72a;
            color: white;
            font-weight: 700;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="project-heading-name">Online Attendance System</h1>
            <h4>helps you connect and share with the people in your life.</h4>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 p-5 form-edit">
            <form method="post" class="form-group">
                {% csrf_token %}
                <legend>Login Form</legend>
                <fieldset class="form-group">
                    {{ form|crispy }}
                    <p>
                        <input type="checkbox" onclick="passToText()" id="check-box">
                        <label for="check-box">see password</label>
                    </p>
                    <p style="text-align: center;">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </p>
                </fieldset>
            </form>
            <div class="text-info mt-2 extra-btn">
                <p>
                    <a href="{% url 'password_reset' %}" style="text-decoration: none;">Forget Password?</a>
                </p>
                <hr>
                <p>
                    <a href="{% url 'App_login:signup' %}" class="btn btn-md btn-create">Create New Account</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--------- js -------->
<script type="text/javascript">
    let pass = document.getElementById('id_password');

    function passToText() {
        if (pass.type === 'password') {
            pass.type = 'text';
        } else {
            pass.type = 'password';
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
</body>
</html>