# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Hatihati PaPa Full Production\online_present\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
